{% extends 'backend/main/master.html' %} {% load static%} {%block head%}
<title> {% for me in contactus%}{{me.subject}}{%endfor%}</title>{% endblock%} {%block container%}
<div class="col-md-12">
    {% for me in contactus%}
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">{{me.name}}</h3>

            <div class="card-tools">
                <a href="#" class="btn btn-tool" title="Previous"><i class="fas fa-chevron-left"></i></a>
                <a href="#" class="btn btn-tool" title="Next"><i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <div class="mailbox-read-info">
                <h5><strong>Subject :</strong>{{me.subject}}</h5>
                <h6>From: {{me.email}}
                    <span class="mailbox-read-time float-right">{{me.date}}</span></h6>
            </div>
            <!-- /.mailbox-controls -->
            <div class="mailbox-read-message">
                <p>{{me.message}}</p>
            </div>
            <!-- /.mailbox-read-message -->
        </div>
        <!-- /.card-footer -->  
        <div class="card-footer">
            <button type="button" class="btn btn-default"><a href="{% url 'EmailDelete' pk=me.pk%}"><i class="far fa-trash-alt"></i> Delete</a></button>
            <button type="button" class="btn btn-default"><i class="fas fa-print"></i> Print</button>
        </div>
        <!-- /.card-footer -->
    </div>
    {%endfor%}
    <!-- /.card -->
</div>
<!-- /.col -->
{% endblock%}
