<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>{% block titleblock %}{% endblock %} | Fsbmcours</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="{%static 'img/favicon.png'  %}" type="image/png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{%static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{%static 'css/flaticon.css' %}" />
    <link rel="stylesheet" href="{%static 'css/themify-icons.css' %}" />
    <link rel="stylesheet" href="{%static 'vendors/owl-carousel/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{%static 'vendors/nice-select/css/nice-select.css' %}" />
    <!-- main css -->
    <link rel="stylesheet" href="{%static 'css/style.css' %}" />
  </head>
<body>
{% include 'base/header.html'%}
{%block containerblock%}{%endblock%}
{% include 'base/footer.html'%}
{% include 'base/script.html'%}
</body>
</html>