{% extends 'backend/main/master.html' %}
{% load static %}
{%block head%}<title> |Delete {{item}}</title>{% endblock%}
{%block container%}
<br>
<div class="row">
    <div class="col-12">
        <div class="callout callout-danger">
            <h5><i class="fas fa-check"></i> Are you sure you want to delete "{{item}}"?</h5>
			<h6>
				<small>ID : {{item.pk}}</small><br>
                {% if module %}Module :<br>{% for modl in module %}<small>{{modl.name}}</small><br>{%endfor%}{%endif%}
                {% if Semester %} Semester : <br> {% for modl in Semester %} <small> {{modl.name}}</small><br>{%endfor%}{%endif%}
               {% if cours %} cours : <br> {% for modl in cours %} <small> {{modl.name}}</small><br>{%endfor%}{%endif%}
			</h6>
			<form action="{% url 'DeleteFilier-panel-page' item.name %}" method="POST">
				{% csrf_token %}
				<a class="btn btn-warning" href="">Cancel</a>
				<button class="btn btn-danger" type="submit" name="Confirm">Conform</button>
			</form>
        </div>
    </div>
    <!-- /.col -->
</div>
{%endblock%}