{% load humanize %}
<!--================ Start Popular Courses Area =================-->
<div class="popular_courses">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="main_title">
          <h2 class="mb-3">Our Popular Courses</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- single course -->
      <div class="col-lg-12">
        <div class="owl-carousel active_course">
          {% for co in Courses %}
          <div class="single_course">
            <div class="course_head">
            </div>
            <div class="course_content mt-5">
              {% for fil in Filires %}
                {% if fil.pk == co.filierid %}
              <span class="price">
                {% if fil.name == "Physique" %}SMP{% else %}SMC{% endif %}
              </span>
                {% endif %}
              {% endfor %}
              {% for modl in Module %}
                {% if modl.pk == co.moduleid %}
                  <span class="tag mb-4 d-inline-block">{{modl.name}}</span>
                {% endif %}
              {% endfor %}
              <h4 class="mb-3">
                <a href="{% for modl in Module %}{% if modl.pk == co.moduleid %}{{modl.module_Detail}}{% endif %}{% endfor %}">{{co.name}}</a>
              </h4>
              <div
                class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4"
              >
                <div class="authr_meta">
                  <span class="d-inline-block ml-2"></span>
                </div>
                <div class="mt-lg-0 mt-3">
                  <span class="meta_info mr-4">
                    <a href="#"> <i class="ti-time mr-2"></i>{{co.date |naturaltime }}</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!--================ End Popular Courses Area =================-->
