{% extends 'backend/main/master.html' %}
{% load static %}
{% load crispy_forms_tags %}
{%block head%}<title>| Add {{Type}}</title>{% endblock%}
{%block container%}

<!-- Content Wrapper. Contains page content -->
  <div class="content">
      <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card">
                <div class="card-body register-card-body">
                  <!--messages-->
{% for message in messages %}
<div class="row">
  <div class="col-12">
    <br>
    {% if message.tags == "success"%}
    <div class="alert alert-{{message.tags }} alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {%endif%}
    {% if message.tags == "error"%}
    <div class="alert alert-{{message.tags }} alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {%endif%}
    {% if message.tags == "warning"%}
    <div class="alert alert-{{message.tags }} alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {%endif%}
    {% if message.tags == "info"%}
    <div class="alert alert-{{message.tags }} alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {%endif%}
  </div>
  <!-- /.col -->
</div>
{%endfor%}
<!--/messages-->
                  <p class="login-box-msg" style="font-size: 17px; font-weight: 500;"><strong>Add {{Type}} </strong><br> {{modulle}}</p>
                  <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="name">Name </label>
                      {{form.name}}
                    </div>
                    <div class="form-group">
                      <label for="pdf">PDF </label>
                      {{form.pdf}}
                    </div>
                   
                    <input class="btn btn-primary" type="submit" value="Submit Post">
                  </form>
                </div>
              </div>
               
              <!-- /.card -->
              </div>
            <!--/.col (left) -->
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
  </div>
<!-- /.content-wrapper -->
<script>

  //Query All input fields
  var form_fields = document.getElementsByTagName('input')
  form_fields[2].placeholder = 'Name ...';
 


  for (var field in form_fields) {
      if(field === '2' ){
        form_fields[field].className += ' form-control'
      } else if (field === '4' ){
        form_fields[field].className += ' form-control'
      }
     
  }
</script>
{%endblock%}